{%extends "base.html"%}
{%block lyrics %}
    <div>
        <h4 class="songsname">{{song.artist.name}} Songs</h4>
        <ol>
            {% for s in songs %}
            {% if s.id == song.id %}
            <li id="{{s.id}}"class="songname">{{s.name}}</li>
            
            {% else %}
            <li id="{{s.id}}" class="=songlinks"> <a class="songlink" 
              href="{{url_for('song', song_id = s.id)}}">{{s.name}}</a></li>

            {% endif %}
            {% endfor %}
        </ol>
    </div>
{%endblock%}

{% block content %}

<div class="lyrics">
    <p>
      <h4>Lyrics of {{song.name}}</h4>
        {% autoescape off %}
      <em><center>{{song.lyrics.replace("\n", "<br/>")}}</center></em>
      {% endautoescape %}
    </p>
</div>
{% endblock %}








